service cloud.firestore {
  match /databases/{database}/documents {

    // The analyses collection
    match /comments/{commentId} {
     	allow read: if false;
     	allow write: if false;
      ;
    }

  }
}
